################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/MySudoku/v15/.suo
/.vs/MySudoku/v15/Browse.VC.db
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/MySudoku/.vs/sudoku/v15/ipch/2d7e190c5031d021.ipch
/MySudoku/.vs/sudoku/v15/ipch/cd51799a7af4affd.ipch
/MySudoku/.vs/sudoku/v15/ipch/ec63f8b7f18e7011.ipch
/MySudoku/.vs/sudoku/v15/.suo
/MySudoku/.vs/sudoku/v15/Browse.VC.db
/MySudoku/.vs/sudoku/v15/Browse.VC.opendb
/MySudoku/.vs/sudoku/v15/Solution.VC.db
/MySudoku/.vs/sudoku/v15/Solution.VC.db-shm
/MySudoku/.vs/sudoku/v15/Solution.VC.db-wal
/MySudoku/Debug/sudoku.tlog/CL.command.1.tlog
/MySudoku/Debug/sudoku.tlog/CL.read.1.tlog
/MySudoku/Debug/sudoku.tlog
/MySudoku/Debug/input.nativecodeanalysis.xml
/MySudoku/Debug/Input.obj
/MySudoku/Debug/MySudoku.log
/MySudoku/Debug/NativeCodeAnalysis.read.1.tlog
/MySudoku/Debug/stdafx.nativecodeanalysis.xml
/MySudoku/Debug/stdafx.obj
/MySudoku/Debug/sudoku.Build.CppClean.log
/MySudoku/Debug/sudoku.exe
/MySudoku/Debug/sudoku.exe.lastcodeanalysissucceeded
/MySudoku/Debug/sudoku.ilk
/MySudoku/Debug/sudoku.nativecodeanalysis.xml
/MySudoku/Debug/sudoku.obj
/MySudoku/Debug/sudoku.pch
/MySudoku/Debug/sudoku.pch.codeanalysisast
/MySudoku/Debug/sudoku.pdb
/MySudoku/Debug/sudokuoperation.nativecodeanalysis.xml
/MySudoku/Debug/SudokuOperation.obj
/MySudoku/Debug
/MySudoku
/sudoku_unit_test
